@import 'bootstrap-sprockets';
@import 'bootstrap';

$footer-header-height: 102px;
$footer-body-height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-header-height + $footer-body-height;
}

footer {
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: inline;
      margin-right: 1em;
      a {
        text-transform: uppercase;
        font-weight: bold;
        color: white;
      }

      a:hover {
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

footer.header {
  bottom: $footer-body-height;
  height: $footer-header-height;
}
footer.body {
  min-height: $footer-body-height;
}
